/* * {
    box-sizing: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #2c2826;
    height: 100vh;
}
#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    opacity: 0.5;
    background-color: #3a853a;
}
h1 {
    text-align: center;
    border-bottom: 1px solid rgb(158, 27, 27);
    padding: 2em 0 0 0;
    font-style: italic;
    font-size: 2em;
}
h3 {
    text-align: center;
    font-size: 1.2em;
}
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
}
button {
    height: 2em;
    width: 49%;
    font-size: 1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px white;
}
#hit {
    background-color: red;
}
#stay {
    background-color: black;
}
button:hover {
    cursor: pointer;
} */

.allPlayers {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dealer, .player {
    margin: 4em 0;
}

#dealer-score, #player-score {
    text-align: center;
}

.rules {
    display: none;
}